---
Language: Cpp
BasedOnStyle: Microsoft
Standard: Latest

ColumnLimit: 120
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AccessModifierOffset: -4
IndentAccessModifiers: false
IndentCaseLabels: false
NamespaceIndentation: None

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"$'
    Priority: 2
  - Regex: '^<nlohmann/.*>'
    Priority: 3
  - Regex: '^<gtest/.*>'
    Priority: 3
  - Regex: '^<.*>$'
    Priority: 4

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

Cpp11BracedListStyle: true
FixNamespaceComments: true
ReflowComments: false
